<!DOCTYPE html>
<html>
<head>
  <title>Web Messenger</title>
  <meta charset="utf-8"/>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/chat.css" rel="stylesheet" />
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-2">
              <h3>Web Messenger</h3>
              <hr>
              <div class="panel panel-default">
                  <div class="panel-heading">Chats: {{ chatName }}</div>
                  <div class="panel-body chat-box">
                    <ul class="chat">
                        <li class="left clearfix" v-for="message in messages">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">
                                        {{ message.sender }}
                                    </strong>
                                </div>
                                <p>
                                    {{ message.message }}
                                </p>
                            </div>
                        </li>
                    </ul>
                  </div>
                  <div class="panel-footer">
                    <div class="input-group">
                      <input id="btn-input" type="text" name="message" class="form-control input-sm" placeholder="message" v-model="newMessage" @keyup.enter="sendMessage">
                      <span class="input-group-btn">
                          <button class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage">
                              Send
                          </button>
                      </span>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- Display name model -->
    <div class="modal fade" tabindex="-1" role="dialog" id="chat-name-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Display name</h4>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" placeholder="your name..." v-model="chatName"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="confirmDisplayName">Confirm</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <script src="static/js/chat.js"></script>
</body>
</html>
